<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter" style="margin-bottom: 0;">
            <div class="col-lg-6 col-sm-6">
                <a href="service-pages/services/level1.html" class="portfolio-box">
                    <img src="img/portfolio/1b.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service
                            </div>
                            <div class="project-name">
                                Level 1 Support
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="service-pages/services/level2.html" class="portfolio-box">
                    <img src="img/portfolio/2b.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service
                            </div>
                            <div class="project-name">
                                Level 2 Support
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="service-pages/services/self_hosting.html" class="portfolio-box">
                    <img src="img/portfolio/selfhost.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service
                            </div>
                            <div class="project-name">
                                Self-Hosting and Automation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="service-pages/services/repair.html" class="portfolio-box">
                    <img src="img/portfolio/pc-computer-repair.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service
                            </div>
                            <div class="project-name">
                                Computer and Console Repair
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
